@model IEnumerable<FoodHub.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var model = Model.Reverse();
}

<h1>My Products</h1>

<p>
    <button type="button" class="btn btn-success"> <a asp-action="Create" style="color: azure">Add Product</a> </button>
</p>
<div class="row">
    @for (int i = 0; i < model.Count(); i++)
    {
        
        var item = model.ElementAt(i);

        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header">@Html.DisplayFor(modelItem => item.Name)</h3>
                <img style="height: 240px; width: 100%; display: block;" src="@Url.Action("GetImage", "Products", new {id = item.Id})"/>
                <div class="card-body">
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <h5>@Html.DisplayFor(modelItem => item.Price) Lei</h5>
                </div>
                <div class="card-body">
                    <a class="card-link" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="card-link" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="card-link" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        </div>

    }
</div>







@*<table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        Image
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <img src="@Url.Action("GetImage", "Products", new {id = item.Id})" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>*@
